@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;300&display=swap');


/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}
body {
	overflow-x: hidden;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */

}


.container__body {
	position: relative;
	width: 100%;
	height: 100vh;
}







/*------------------------ Background -------------------------- */

.container__background {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 18vw;
	height: 18vw;
	transform: translate(-50%, -50%);
	opacity: 1;
	transition: all 0.75s;
}




.spaceRip {
	position: absolute;
	top: -10%;
	left: 114%;
	transform: translate(-50%, -50%);
	transition: all 0.75s;
	width: 416%;
	opacity: 1;
}


.spaceRip2 {
	position: absolute;
	top: 221%;
	left: -75%;
	transform: translate(-50%, -50%);
	transition: all 0.75s;
	width: 320%;
/*	width: 56vw;*/
	opacity: 1;
}









/*=========================================  Launch Pad ======================================*/

.container__launchPad {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 13vw;
	height: 18vw;
	transform: translate(-50%, -50%);
	transition: all 0.5s;
	animation-timing-function: ease-in-out;
	background-color: transparent;
	border-radius: 2vw;
	border-radius: 5vw;
	z-index: 999;
}

.container__launchPad:hover {
	transition: all 0.75s;
	width: 55vw;
	height: 40vw;
	background-color: lightgray;
}


.container__polaroid {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 13vw;
	height: 18vw;
	border-radius: 5vw;
	border: none;
/*	background-color: red;*/
	transform: translate(-50%, -50%);
}



.polaroid {
	position: absolute;
	width: 100%;
	height: 100%;
}






/*-------------------------- Polaroid Middle --------------------------*/

.pol__center {
	width: 100%;
	height: 100%;
	position: absolute;
	transition: all 0.5s;
	cursor: pointer;
}



.container__launchPad:hover .pol__center {
	transition: all 0.75s;
}

.pol__center:hover {
	transition: all 0.1s;
	transform: translate(3%, 3%);
	width: 95%;
	height: 95%;
}


.launchPad__picture {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.polaroid__mainPicture {
	position: relative;
	width: 100%;
	height: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.polaroid__metaMask {
	width: 75%;
	height: 75%;
	top: 55% !important;
}


.polaroid__about {
	width: 65%;
	height: 65%;
}


.about__background {
	background-color: darkblue !important;
	border-radius: 50vw !important;
	height: 70% !important;
	width: 95% !important;
}

.polaroid__background {
	position: absolute;
	width: 100%;
	height: 75%;
	background-color: transparent;
/*	background-color: #3f3d56;*/
	border-radius: 1vw;
	top: 42%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 0.75s;
}

.container__launchPad:hover .polaroid__background {
/*	background-color: #023020;*/
}

.container__launchPad:hover .container__background{
	opacity: 0;
	display: none;
	visibility: hidden;
	transition: all 0.75s;
}



.connectText {
	position: absolute;
	font-family: 'Gajraj One', cursive;
/*	font-family: 'Permanent Marker', cursive;*/
	color: #50C878;
	top: 88%;
	left: 50%;
	width: 76%;
	text-align: center;
	transform: translate(-50%, -50%);
	font-size: 2vw;
	transition: all 0.5s;
}


.launchPad__text {
	position: absolute;
	color: black;
	top: 88%;
	left: 50%;
	width: 76%;
	text-align: center;
	transform: translate(-50%, -50%);
	font-size: 2vw;
	transition: all 0.5s;
	font-family: 'Josefin Sans', sans-serif;
}


.container__launchPad:hover .connectText {
	color: black;
	transition: all 0.5s;
	top: 85%;
}

.pol__center:hover .connectText {
	color: #50C878;
	transition: all 0.1s;
}



.post {
	opacity: 0;
	transition: all 0.75s;
}


.container__launchPad:hover .pre {
	opacity: 0;
	transition: all 0.75s;
}

.container__launchPad:hover .post {
	opacity: 1;
	transition: all 0.75s;
}







/*-------------------------- Polaroid Top --------------------------*/

.pol__top {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
	transition: all 0.5s;
	cursor: pointer;
}


.container__launchPad:hover .pol__top {
	transform: translateY(-106%);
	opacity: 1;
	transition: all 0.75s;
}

.pol__top:hover {
	transition: all 0.1s;
	width: 96%;
	height: 96%;
}




/*-------------------------- Polaroid Bottom --------------------------*/

.pol__bottom {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
	transition: all 0.5s;
	cursor: pointer;
}


.container__launchPad:hover .pol__bottom {
	transform: translateY(106%);
	opacity: 1;
	transition: all 0.75s;
}

.pol__bottom:hover {
	transition: all 0.1s;
	width: 96%;
	height: 96%;
}






/*-------------------------- Polaroid Top Left --------------------------*/

.pol__topLeft {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
	transition: all 0.5s;
	cursor: pointer;
}


.container__launchPad:hover .pol__topLeft {
	transform: translate(-110%, -54%);
	opacity: 1;
	transition: all 0.75s;
}

.pol__topLeft:hover {
	transition: all 0.1s;
	width: 96%;
	height: 96%;
}





/*-------------------------- Polaroid Top Right --------------------------*/

.pol__topRight {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
	transition: all 0.5s;
	cursor: pointer;
}


.container__launchPad:hover .pol__topRight {
	transform: translate(110%, -54%);
	opacity: 1;
	transition: all 0.75s;
}


.pol__topRight:hover {
	transition: all 0.1s;
	width: 96%;
	height: 96%;
}



/*-------------------------- Polaroid Bottom Left --------------------------*/

.pol__bottomLeft {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
	transition: all 0.5s;
	cursor: pointer;
}


.container__launchPad:hover .pol__bottomLeft {
	transform: translate(-110%, 54%);
	opacity: 1;
	transition: all 0.75s;
}

.pol__bottomLeft:hover {
	transition: all 0.1s;
	width: 96%;
	height: 96%;
}




/*-------------------------- Polaroid Bottom Right --------------------------*/

.pol__bottomRight {
	width: 100%;
	height: 100%;
	position: absolute;
	opacity: 0;
	transition: all 0.5s;
	cursor: pointer;
}


.container__launchPad:hover .pol__bottomRight {
	transform: translate(110%, 54%);
	opacity: 1;
	transition: all 0.75s;
}

.pol__bottomRight:hover {
	transition: all 0.1s;
	width: 96%;
	height: 96%;
}







/*=============================================== About ===============================================*/


.container__about {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 18vw;
	height: 18vw;
	transform: translate(-50%, -50%);
	opacity: 1;
	transition: all 0.75s;
}


.container__aboutPanel {
	position: absolute;
	left: 50%;
	top: 295%;
	width: 140vw;
	height: 125vw;
	background-color: #3f3d56;
	transform: translateX(-50%);
}



.spaceBackgroundImg {
	position: absolute;
	left: 89%;
	top: 40%;
	transform: translate(-50%, -50%);
	width: 40%;
	overflow: hidden;
}


.astronaut {
	position: absolute;
	left: 50%;
	top: 15%;
	transform: translate(-50%, -50%);
	width: 35%;
	overflow: hidden;
	animation-name: floating;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}



@keyframes floating {
    0% { transform: translate(0,  0); }
    50%  { transform: translate(-3%, 3%); }
    100%   { transform: translate(0, 0); }   
}


.spaceBitsTopImg {
	position: absolute;
	left: 30%;
	top: 25%;
	transform: translate(-50%, -50%);
	width: 40%;
	overflow: hidden;
	animation-name: floating2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.spaceBitsImg {
	position: absolute;
	left: 40%;
	top: 90%;
	transform: translate(-50%, -50%);
	width: 40%;
	overflow: hidden;
}


.alienShipImg {
	position: absolute;
	left: 13%;
	top: 0%;
	transform: translate(-50%, -50%);
	width: 18%;
	overflow: hidden;
	transform: rotate(315deg);
}


.spaceAlienImg {
	position: relative;
	left: 25%;
	top: 15%;
	transform: translate(-50%, -50%);
	width: 4.5%;
	overflow: hidden;
	transform: rotate(315deg);
	cursor: pointer;
}



.vortexAnimation {
	position: relative;
	left: 25%;
	top: 19%;
	transform: translate(-50%, -50%);
	width: 4.5%;
	overflow: hidden;
	transform: rotate(315deg);
	animation-name: vortex;
    animation-duration: 3s;
    animation-iteration-count: 1;
}



@keyframes vortex {
    0% { 
    	transform: translate(0,  0); 
    }
    80%  { 
/*    	transform: translate(-185%, -185%); */
    }
    100% { 
    	transform: translate(-150%, -150%); 
    	opacity: 0;
/*    	display: none;*/
/*    	pointer-events: none;*/
    }   
}



.container__aboutDescription {
	position: absolute;
	left: 40%;
	top: 30%;
	transform: translate(-50%, -50%);
	width: 30%;
	overflow: hidden;
/*	border-radius: 5vw;*/
	background-color: transparent;
	font-family: 'Montserrat Alternates', sans-serif !important;
}


.container__aboutDescription h1 {
	color: #f2f2f2;
}

.container__aboutDescription p {
	color: #f2f2f2;
}

.container__aboutDescription2 {
	position: relative;
	left: 35%;
	top: 38%;
	transform: translate(-50%, -50%);
	width: 20%;
	height: 11%;
	overflow: hidden;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 15%;
	background-color: transparent;
	font-family: 'Montserrat Alternates', sans-serif !important;
}


.container__aboutBox {
	position: relative;
/*	background-color: #f2f2f2;*/
/*	background-color: #D8D8D8;*/
	background-color: transparent;
	text-align: center;
	width: 100%;
	height: 100%;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 5vw;
}

.container__aboutBox h2 {
	position: absolute;
	top: 84%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Montserrat Alternates', sans-serif !important;
	color: #f2f2f2;
}


.aboutBoxImg {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	transition: all 0.3s;
}

.aboutBoxImg:hover {
	transition: all 0.3s;
	width: 95%;
	height: 95%;
}

.container__what {
	position: absolute;
/*	background-color: red;*/
	top: 50%;
	left: 24%;
	width: 50%;
	height: 36%;
}


.container__what1 {
	position: relative;
	left: 24%;
	top: 35%;
	width: 40%;
	overflow: hidden;
	background-color: #f2f2f2;
	border-radius: 3vw;
	padding: 1.5vw;
	font-family: 'Montserrat Alternates', sans-serif !important;
}

.container__what1 p {
	color: #3f3d56;
}

.container__what1 h1 {
	color: #3f3d56;
}

.container__what2 {
	position: absolute;
	left: 35%;
	top:69%;
	transform: translateY(-50%);
	width: 40%;
	overflow: hidden;
	background-color: #f2f2f2;
	border-radius: 3vw;
	padding: 1.5vw;
	font-family: 'Montserrat Alternates', sans-serif !important;
}


.container__what2 p {
	color: #3f3d56;
}

.container__what2 h1 {
	color: #3f3d56;
}


.container__what3 {
	position: absolute;
	left: 24%;
	top: 87%;
	transform: translateY(-100%);
	width: 40%;
	overflow: hidden;
	background-color: #f2f2f2;
	border-radius: 3vw;
	padding: 1.5vw;
	font-family: 'Montserrat Alternates', sans-serif !important;
}


.container__what3 p {
	color: #3f3d56;
}

.container__what3 h1 {
	color: #3f3d56;
}


.aboutTitle {
	font-family: 'Montserrat Alternates', sans-serif !important;
	font-size: 5vw;
}

.aboutSubtitle {
	font-family: 'Montserrat Alternates', sans-serif !important;
	font-size: 2.5vw;
}

.aboutSubtitle2 {
	font-family: 'Montserrat Alternates', sans-serif !important;
	font-size: 1.5vw;
}

.aboutParagraph {
	font-size: 1.2vw;
	padding-left: 0.3vw;
}



.rocketShipImg {
	position: absolute;
	top: 30%;
	left: -10%;
	width: 35%;
}

.spaceAlien2Img {
	position: absolute;
	top: 58.3%;
	left: 67%;
	width: 5%;
}
