/* ---------- Fonts ---------- */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,800;1,100;1,200;1,300;1,400;1,800&display=swap');



.hideHeader { 
	width: 20vh;
	height: 20vh;
	background-color: #fcfcfc;
	/*background-color: red;*/
	cursor: pointer;
	position: fixed;
	z-index: 999999;
	/*float: right;*/
	margin-left: 0vh;
	/*transform: translateX(10vw);*/
 }

/* ---------- Loading Animation CSS ---------- */

.loadingContainer {
	width: 20%;
	height: 80vh;
	display: flex;
}

.loadingContainer .logoContainer {
	margin: auto;
}

.loadingTextContainer {
	transform: translateY(-25vh);
}

.loadingTextContainer h1 {
	font-family: 'Raleway';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 2;
	font-size: 1.5vw;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}





/* ---------- Form CSS ---------- */

.formContainer {
	width: 75%;
	padding-bottom: 2vw;
	transform: translateY(21vw);
	margin-bottom: 30vw;
	background-color: #3445b4;
	border-radius: 2vw;
	padding-top: 3vw;
	padding-left: 6vw;
	padding-right: 5vw;
	box-shadow: 0vw 1vw 2vw 0vw rgba(0,0,0,0.2);
}


.rowContainer {
	position: relative;
	width: 100%;
	height: 17vw;
	grid-template-columns: 1fr 1fr;
	display: grid;
}

.colContainer {
	position: relative;
	width: 100%;
	height: 100%;
}



/* SBT Name */

.SBTName {
	font-family: Righteous;
	font-size: 5vw;
	background-color: transparent;
	color: whitesmoke;
	border-radius: 0.9vw;
	border-style: none;
	width: 110%;
	height: 6vw;
	padding-left: 1.2vw;
}

.SBTName:hover {
	opacity: 0.8;
}

.SBTName:focus {
	background-color: whitesmoke;
	color: black;
}

.SBTName::placeholder {
	color: whitesmoke;
}




/* Dropdown Button */

.dropbtn {
	font-family: Quattrocento Sans;
	background-color: #3498DB;
	text-align: center;
	color: white;
	padding: 0.75vw;
	font-size: 1.3vw;
	border: none;
	cursor: pointer;
	margin-top: 1.5vw;
	width: 25vw;
	border-radius: 1vw;
	box-shadow: 0vw 1vw 2vw 0vw rgba(0,0,0,0.2);
	transition: all 0.3s;
}

.dropbtn:hover, .dropbtn:focus {
/*	background-color: #2980B9;*/
	background-color: var(--color-turqoise);
	box-shadow: 0vw 2vw 4vw 0vw rgba(0,0,0,0.4);
	transform: scale(1.02);
	transition: all 0.3s;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	width: 25vw;
	min-width: 160px;
	border-radius: 0vw 0vw 1vw 1vw;
	overflow: auto;
	box-shadow: 0vw 1vw 2vw 0vw rgba(0,0,0,0.2);
	z-index: 1;
}


.dropdown-content a {
	font-family: Quattrocento Sans;
	color: black;
	padding: 1vw 1.2vw;
	text-decoration: none;
	display: block;
	cursor: pointer;
}

.dropdown a:hover {background-color: #ddd;}

.show {
	display: block !important;
}

.hide {
	display: none !important;
}






/* SBT Picture */

.SBTPictureContainer {
	position: absolute;
	top: -50%;
	left: 37%;
	background-color: whitesmoke;
	width: 20vw;
	height: 20vw;
	border-radius: 1.5vw;
/*	transform: translateY(-8vw);*/
	margin-right: 0;
	margin-left: auto;
	border: lightgray;
	border-style: ridge;
	border-width: thick;
	transition: all 0.3s;
	box-shadow: 0vw 1vw 2vw 0vw rgba(0,0,0,0.2);
}

.SBTPictureContainer:hover {
	background-color: lightgray;
	transform: scale(1.05);
	transition: all 0.3s;
	box-shadow: 0vw 2vw 4vw 0vw rgba(0,0,0,0.4);
}

.SBTPictureContainer>input {
  display: none;
}


.SBTDisplayPicture {
	width: 60%;
	height: 100%;
	transform: translate(4vw, 1vw);
}


.displayImage {
	display: none;
	width: 100%;
	height: 100%;
	border-radius: 1vw;
}


.imageLabel {
	width: 100%;
	height: 100%;
	cursor: pointer;
}













/*================================================== Account Form ===============================================*/

.account {
	display: none;
}



.createContainer {
	position: relative;
	width: 100%;
	height: 4vw;
	margin: 0;
	top: 0;
	border-radius: 1vw;
	margin-bottom: 3vw;
	background-color: white;
	transition: all 0.3s;
	box-shadow: 0vw 1vw 2vw 0vw rgba(0,0,0,0.2);
}


#createInputButton {
}

#createInputButton:hover {
/*	background-color: lightgray;*/
	transform: scale(1.02);
	box-shadow: none;
	transition: all 0.3s;
	box-shadow: 0vw 2vw 4vw 0vw rgba(0,0,0,0.4);
}



.customInput {
	position: relative;
	width: 100%;
}


.createNewInputButton {
	position: relative;
	width: 100%;
	cursor: pointer;
	border-radius: 1vw;
}



.createNewInputButton-text {
	position: absolute;
	display: inline-block;
	top: 50%;
	transform: translate(0, -50%);
	left: 8%;
	font-size: 1.4vw;
	font-family: Quattrocento Sans;
}


.plusSquare {
	position: absolute;
	top: 50%;
	left: 0.8%;
	transform: translate(0, -50%);
	height: 75%;
}



.blankInputContainer {
	position: relative;
	grid-template-columns: 1fr 2fr !important;
	display: inline-grid;
	border-radius: 1vw;
	box-shadow: 0vw 1vw 2vw 0vw rgba(0,0,0,0.2);
}



.blankInputTitle {
	position: relative;
	padding-left: 5%;
	font-size: 1.2vw;
	border-radius: 1vw 0vw 0vw 1vw;
	border-top: none;
	border-right: 1vw solid ridge;;
	border-bottom: none;
	border-left: none;
	font-family: Quattrocento Sans;
}

.blankInputTitle:focus {
    outline-color: var(--color-turqoise);
    border-color: var(--color-turqoise);
}


.blankInputContents {
	position: relative;
	padding-left: 3%;
	font-size: 1.2vw;
	border-radius: 0vw 1vw 1vw 0vw;
	border: none;
/*	width: 100%;*/
	font-family: Quattrocento Sans;
}

.blankInputContents:focus {
    outline-color: var(--color-turqoise);
    border-color: var(--color-turqoise);
}



.closeInputButton {
	position: absolute;
	top: -10%;
	right: -1%;
	width: 3%;
	border-radius: 0.5vw;
	text-align: center;
	background-color: #758CA3;
	color: white;
	cursor: pointer;
	font-family: Righteous;
	font-size: 1.2vw;
	box-shadow: 0vw 0.25vw 0.5vw 0vw rgba(0,0,0,0.5);
	transition: all 0.25s;
}

.closeInputButton:hover {
	transform: scale(1.05);
	transition: all 0.25s;
	box-shadow: 0vw 0.5vw 1vw 0vw rgba(0,0,0,0.5);
	background-color: #C04000;
}


















/*================================================== Attendance Form ===============================================*/

.attendance {
	display: none;
}

/* SBT Attributes */

.SBTDescription {
	font-family: Quattrocento Sans;
	width: 100%;
	height: 10vw;
	min-height: 4vw;
	border-top-right-radius: 2vw;
	border-bottom-right-radius: 2vw;
	border-bottom-left-radius: 2vw;
	padding-left: 1.3vw;
	padding-right: 1.1vw;
	padding-bottom: 1.3vw;
	border: none;
	outline: none;
}

.textareaContainer {
	width: 100%;
	min-height: 4vw;
	background-color: white;
	border-top-right-radius: 2vw;
	border-bottom-right-radius: 2vw;
	border-bottom-left-radius: 2vw;
	margin-bottom: 3vw;
	margin-left: 0.2vw;
	margin-right: 0.2;
}

.label {
	font-family: Quattrocento Sans;
	padding-left: 1.3vw;
	padding-top: 0.5vw;
	font-weight: bolder;
	font-size: 1.2vw;
}

.inputLabel {
	font-family: Quattrocento Sans;
	display: block;
	padding-left: 0.5vw;
	color: white;
	font-size: 1.2vw;
}


.inputContainer {
	/*background-color: white;*/
	border-radius: 2vw;
	margin-bottom: 1vw;
	display: block;
}


.input {
	width: 100%;
	border-radius: 2vw;
	padding:  0.5vw;
	border: none;
	outline: none;
	transform: translateY(-0.5rem);
}


.submitButton {
	margin: auto;
	background-color: #3498DB;
	color: white;
	border-radius: 1vw;
	padding-top: 0.75vw;
	padding-bottom: 0.75vw;
	padding-left: 2vw;
	padding-right: 2vw;
	font-size: 1.3vw;
	border: none;
	transition: all 0.3s;
	box-shadow: 0vw 1vw 2vw 0vw rgba(0,0,0,0.2);
}


.submitButton:hover {
	transform: scale(1.04);
	transition: all 0.3s;
	box-shadow: 0vw 2vw 4vw 0vw rgba(0,0,0,0.4);
	background-color: var(--color-turqoise);
}








