.container__connectWallet {
    position: relative;
    cursor: pointer;
    display: inline-block;
    transform: translate(-3%, 0);
    border-radius: 1vw;
    white-space: nowrap;
    padding: 0.25% 1.5% 0.25% 1%;
    transition: all 0.3s;
}


.container__connectWallet:hover {
    background-color: var(--color-charcoal);
    color: white;
    transition: all 0.3s;
}



.container__statusLight {
    position: absolute;
    top: 50.5%;
    left: 3.5%;
    transform: translateY(-50%);
    border-radius: 100%;
    width: 0.91vw;
    height: 1vw;
    background-color: red;
}


.text__status {
    font-family: Raleway;
    font-size: 1vw;
    margin: 0 0 0 0;
    padding-left: 0.9vw;
}