@import url('https://fonts.googleapis.com/css2?family=Gajraj+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;300&display=swap');


:root {
	--color-purple: #9326c7;
	--color-turqoise: #1fd6d0;
	--color-dark-blue: #041fa3;
	--color-washed-blue: #1978a5;
	--color-off-white: #f2f2f2;
	--color-charcoal: #3f3d56;
	--color-attendance: #e8f4f8;
/*	--color-attendance: #defaf9;*/
	--color-certificate: #e2fee2;
	--color-ticket: #eae4f4;


	--font-marker: 'Permanent Marker', cursive;
	--font-gajraj: 'Gajraj One', cursive ;
	--font-josefin: 'Josefin Sans', sans-serif;
	--font-montserrat: 'Montserrat Alternates', sans-serif;

/*	--transition: all 400ms ease;*/

/*	--container-width-lg: 75%;
	--container-width-md: 86%;
	--container-width-sm: 90%;*/
}


html {
	scroll-behavior: smooth;
}


::-webkit-scrollbar {
	display: none;
}



body {
	font-family: var(--font-josefin-sans);
}

