<head>
	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
	<link rel="stylesheet" href="/stylesheets/profileStyles/profile.css">
	<link rel="stylesheet" href="/stylesheets/connectWalletStyles/connectWalletButton.css">
	<link rel="stylesheet" href="/stylesheets/viewSBT.css">

	<script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js" type="application/javascript"></script>
	<script src="/javascript/walletButton.js"></script>
	<script src="/javascript/profile/profile.js"></script>
</head>

<body>
	<div class="container__body">
		<div class="container__connectWallet" id="container__connectWallet">
			<div class="container__statusLight" id="container__statusLight">
			</div>
			<p class="text__status" id="text__status">Wallet not connected</p>
		</div>


		<div class="container__mainContents">
			<div class="container__left">
				<div class="container__image">
					<img class="ethereumIcon" src="/images/ethereum.svg">
					<img class="imageSBT" id="imageSBT" src="">
				</div>
			</div>
			<div class="container__right">
				<div class="container__sbtContentsMain">
					<h5 class="SBTOwner" id="SBTOwner"></h5>
					<h1 class="SBTName" id="SBTName">Joe Thompson</h1>
					<div class="container__SBTType">
						<h5 class="type">Type: </h5>
						<h5 class="SBTType" id="SBTType"></h5>
					</div>
					<!-- <div class="container__hoverButton">					 -->
						<div class="container__createButton" id="submitButton">
							<img class="sendIcon" src="/images/share.svg">
							<div class="container__createButtonBubble">
								<div class="pointer"></div>
								<h5>Share</h5>
							</div>
						</div>
					<!-- </div> -->
				</div>

				<div class="container__attribute" id="description">
					<div class="container__description-title">
						<img class="descriptionIcon" src="/images/description.svg">
						<h2 class="descriptionTitle">Description</h2>
					</div>
					<div class="container__description-contents">
						<p class="descriptionContents" id="descriptionContents"></p>
					</div>
				</div>
			</div>
		</div>


		<div class="container__profile-library">
			<div class="container__profile-libraryColumns">
				<div class="container__profile-libraryColumn active" id="Attendance" onclick="changeTab('Attendance')">
					<h2 class="sectionTitle">Attendance</h2>
				</div>
				<div class="container__profile-libraryColumn" id="Certificates" onclick="changeTab('Certificates')">
					<h2 class="sectionTitle">Certificates</h2>
				</div>
				<div class="container__profile-libraryColumn" id="Tickets" onclick="changeTab('Tickets')">
					<h2 class="sectionTitle">Tickets</h2>
				</div>
			</div>
			<div class="container__profile-viewSBTs" id="container__profile-viewSBTs">

			</div>
		</div>
	</div>



	<script type="text/javascript">

		let connectionText, statusLight;
		let attendance, certificates, tickets;
		const tabsMap = new Map();

		$(async function() { // execute once the DOM has loaded
			window.location.hash = "Attendance";
			const userWalletAddress = localStorage.getItem('userWalletAddress');

			if (userWalletAddress) {
				setWalletToConnected();

				await loadAllUsersSBTs('<%- contractAbi %>','<%= contractAddress %>', userWalletAddress);
				showSbtTiles(tabsMap.get("Attendance"));	
			} 
		});


		$("#container__connectWallet").click(async function(event) {
			const userWalletAddress = await setUserWallet();
			setWalletToConnected(userWalletAddress);

			await loadAllUsersSBTs('<%- contractAbi %>','<%= contractAddress %>', userWalletAddress);
			let tab = window.location.hash.substring(1);
			showSbtTiles(tabsMap.get(tab));	
		});



		// When the user hovers over container__connectWallet
		$("#container__connectWallet").hover(
		    // If the wallet is not connected, show "Connect Wallet" text and change the status light
		    function() {
		        entersWalletConnect(connectionText);
		    },
		    // When the user stops hovering over the container, show the original text and status light
		    function() {
		        leavesWalletConnect(connectionText, statusLight);
		    }
		);


	</script>

</body>






