<head>
	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
	<link rel="stylesheet" href="/stylesheets/profileStyles/profile.css">

	<script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js" type="application/javascript"></script>
</head>

<body>
	<div class="container__body">
		<div class="container__connectWallet" id="container__connectWallet">
			<div class="container__statusLight" id="container__statusLight">
			</div>
			<p class="text__status" id="text__status">Wallet not connected</p>
		</div>


		<div class="container__profile-library">
			<div class="container__profile-libraryColumns">
				<div class="container__profile-libraryColumn active" id="attendance">
					<h2 class="sectionTitle">Attendance</h2>
				</div>
				<div class="container__profile-libraryColumn" id="certificate">
					<h2 class="sectionTitle">Certificates</h2>
				</div>
				<div class="container__profile-libraryColumn" id="ticket">
					<h2 class="sectionTitle">Tickets</h2>
				</div>
			</div>
			<div class="container__profile-viewSBTs" id="container__profile-viewSBTs">

			</div>
		</div>
	</div>



	<script type="text/javascript">
		let connectionText = document.getElementById("text__status").innerHTML;
		let statusLight = document.getElementById('container__statusLight').style.background;

		$("#container__connectWallet").click(async function(event) {
			const accounts = await ethereum.request({ method: 'eth_requestAccounts' });
			const userWalletAddress = accounts[0];
			localStorage.setItem('userWalletAddress', userWalletAddress);
			await loadSBTData();	
		});

		$(async function() { // execute once the DOM has loaded
			await loadSBTData()
		});


		async function loadSBTData() {
			var userWalletAddress = localStorage.getItem('userWalletAddress');

			console.log(userWalletAddress);

			if (userWalletAddress) {
				const textStatus = document.querySelector('.text__status');
				textStatus.innerHTML = "Wallet connected";
				connectionText = textStatus.innerHTML;
				document.getElementById('container__statusLight').style.background = "lightgreen";
				statusLight = "lightgreen"

				const provider = new ethers.providers.Web3Provider(window.ethereum);
				const signer = provider.getSigner(userWalletAddress);

				const networkId = await window.ethereum.request({ method: 'net_version' });
				const contractNetworkId = "<%= contractNetworkId %>"

				const userAccount = document.getElementById("userAccount");

				let tokenIds = []
				let attendanceTokenIds = []

				let contractAbi = '<%- contractAbi %>';
				const contractAddress = "<%= contractAddress %>";

				const contract = new ethers.Contract(contractAddress, contractAbi, signer);


				walletBalance = await contract.balanceOf(userWalletAddress);


				const sbtContainer = document.getElementById("container__profile-viewSBTs");
				sbtContainer.innerHTML = "";

				for (var i=0; i < walletBalance.toString(); i++) {
					const tokenId = await contract.tokenOfOwnerByIndex(userWalletAddress, i);
					tokenIds.push(tokenId);

					let tokenURI = await contract.tokenURI(tokenId);
					let request = new Request("https://ipfs.io/ipfs/"+tokenURI);
					let response = await fetch(request);
					let SBTData = await response.json();

					if (SBTData.attributes[0].value == "Attendance") {
						attendanceTokenIds.push(tokenId);

						const container__sbt = document.createElement("a");
						container__sbt.className = 'container__sbt';
						let href = "/profile/viewSBT#"+tokenId;
						container__sbt.setAttribute('href', href);

						var sbtImage = new Image();
						sbtImage.className = 'sbtImage';
						sbtImage.src = SBTData.image;
						console.log(SBTData.image);

						const sbtName = document.createElement("h2");
						sbtName.className = "sbtName";
						sbtName.textContent = SBTData.name;

						container__sbt.appendChild(sbtImage);
						container__sbt.appendChild(sbtName);
						sbtContainer.appendChild(container__sbt);


					}


				// <div class="container__sbt">
				// 	<img class="sbtImage" src="https://ipfs.io/ipfs/QmejoigXzRAG64TEZfZKQNyGvARKovD62ix9FqGumcHJyw">
				// 	<h2 class="sbtName">SBT Name</h2>
				// </div>

				}

				localStorage.setItem('userWalletAddress', userWalletAddress);
				var result = localStorage.getItem('userWalletAddress');

				console.log(result);
			}

			else {
				window.alert("wallet not connected.")
			}


		};





	    $( "#container__connectWallet" ).hover(
		  function() {
		  	if (connectionText == "Wallet not connected") {
			    $(".text__status").text("Connect Wallet");
			    document.getElementById('container__statusLight').style.background="lightgreen";
		  	} else if (connectionText == "Wallet connected") {
		  		$(".text__status").text("Refresh wallet");
		  	}
		  }, function() {
		    $(".text__status").text(connectionText);
		    document.getElementById('container__statusLight').style.background=statusLight;
		  }
		);


	</script>

</body>






