<head>
	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
	<link rel="stylesheet" href="/stylesheets/profileStyles/profile.css">
	<link rel="stylesheet" href="/stylesheets/connectWalletStyles/connectWalletButton.css">
	<!-- <link rel="stylesheet" href="/stylesheets/viewSBT.css"> -->

	<script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js" type="application/javascript"></script>
	<script src="/javascript/walletButton.js"></script>
	<script src="/javascript/profile/profile.js"></script>
	<script src="/javascript/profile/viewAccountSBT.js"></script>
</head>

<body>
	<div class="container__body">
		<div class="container__connectWallet" id="container__connectWallet">
			<div class="text__background">
				<div class="container__statusLight" id="container__statusLight">
				</div>
				<p class="text__status" id="text__status">Wallet not connected</p>
			</div>
		</div>

		<div class="noAuthFoundOuter">
			<div class="noAuthFound__container" id="noAuthFound">
				<h1>Oops.</h1>
				<h3>It looks like you don't have an auth token.</h3>
				<button class="createAuthTokenButton" id="gettingStartedButton">Create!</button>
			</div>
		</div>

		<div class="container__mainContents" id="container__mainContents">
			<div class="container__left" id='container__left'>
				<div class="container__image">
					<img src="/images/ethereum.svg" class="ethereumIcon">
					<img src="/images/loading2.svg" id="imageSBT" class="imageSBT">
				</div>
			</div>
			<div class="container__right" id='container__right'>

				<div class="container__burnButton" id="container__burnButton">
				    <img class="editIcon" src="/images/openTrash.svg">
				  	<div class="container__createButtonBubble">
				    	<div class="pointer"></div>
				    	<h5>Burn</h5>
				  	</div>
				</div>

				<div class="container__sbtContentsMain">
					<h1 class="SBTName loading" id="SBTName">Loading</h1>
					<div class="container__SBTType">
						<h5 class="type">Type:</h5>
						<h5 class="SBTType" id="SBTType">Account</h5>
					</div>
				</div>

				<div class="container__attributes" id="container__attributes">
					
				</div>
			</div>
		</div>
	</div>


	<script type="text/javascript">
		let connectionText = document.getElementById("text__status").innerHTML;
		let statusLight = document.getElementById('container__statusLight').style.background;
		let correctNetwork = false;
		let userWalletAddress = localStorage.getItem('userWalletAddress');
		let encryptedAttributes = [];
		let contractAbi = '<%- contractAbi %>';
		const contractAddress = "<%= contractAddress %>";
		const noAuthFound = document.getElementById('noAuthFound');
		let authToken = { tokenURI: null, tokenId: null, SBTData: null };


		document.getElementById("gettingStartedButton").addEventListener("click", function() {
   			window.location.href = "/createSBT";
	  	});



		$(async function() { // execute once the DOM has loaded
			resetAuthContainers();
			if (window.ethereum) {
				userWalletAddress = await setUserWallet();
				userWalletAddress = localStorage.getItem('userWalletAddress');
				connectAuthToken(userWalletAddress);
			} else {
				console.error("Metamask not installed");
				const error = new Error();
				error.reason = "Metamask not installed";
				handleError(error);
			}
		});



		$("#container__connectWallet").click(async function(event) {
			noAuthFound.style.display = "none";
			const mainContents = document.getElementById('container__mainContents');
			mainContents.style.display = "grid";
			resetAuthContainers();
			if (window.ethereum) {
				userWalletAddress = await setUserWallet();
				connectAuthToken(userWalletAddress);
			} else {
				console.error("Metamask not installed");
				const error = new Error();
				error.reason = "Metamask not installed";
				handleError(error);
			}
		});



		// When the user hovers over container__connectWallet
		$("#container__connectWallet").hover(
		    // If the wallet is not connected, show "Connect Wallet" text and change the status light
		    function() {
		        entersWalletConnect(connectionText);
		    },
		    // When the user stops hovering over the container, show the original text and status light
		    function() {
		        leavesWalletConnect(connectionText, statusLight);
		    }
		);


		const container__burnButton = document.getElementById('container__burnButton')
		container__burnButton.addEventListener('click', async () => {
		  	await burnToken(authToken.tokenId);
		});

		// const container__editButton = document.getElementById('container__editButton')
		// container__editButton.addEventListener('click', async () => {
		//   	const encodedURI = encodeURIComponent(JSON.stringify(authToken.tokenURI));
		// 	const tokenId = authToken.tokenId;
		// 	window.location.href = `/profile/edit?tokenURI=${encodedURI}&tokenId=${tokenId}`;
		// });


	</script>

</body>






