<head>
	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
	<link rel="stylesheet" href="/stylesheets/viewSBT.css">

	<script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js" type="application/javascript"></script>
</head>

<body>
	<div class="container__body">
		<div class="container__tokenStatus" id="container__tokenStatus">
			<div class="container__statusLight" id="container__statusLight">
			</div>
			<p class="text__status" id="text__status">Wallet not connected</p>
		</div>
		<div class="container__mainContents">
			<div class="container__left">
				<div class="container__image">
					<img class="ethereumIcon" src="/images/ethereum.svg">
					<img class="imageSBT" id="imageSBT" src="">
				</div>
				<div class="container__dates">
					<div class="container__date">
						<h2 class="dateTitle">Start Date:</h2>
						<p class="dateContents" id="startDate"></p>
					</div>
					<div class="container__date">
						<h2 class="dateTitle">End Date:</h2>
						<p class="dateContents" id="endDate"></p>
					</div>
				</div>
			</div>
			<div class="container__right">
				<div class="container__sbtContentsMain">
					<h5 class="SBTOwner">Created By: <a>You</a></h5>
					<h1 class="SBTName" id="SBTName"></h1>
					<div class="container__SBTType">
						<h5 class="type">Type: </h5>
						<h5 class="SBTType" id="SBTType"></h5>
					</div>
					<!-- <div class="container__hoverButton">					 -->
						<div class="container__createButton" id="submitButton">
							<img class="sendIcon" src="/images/share.svg">
							<div class="container__createButtonBubble">
								<div class="pointer"></div>
								<h5>Share</h5>
							</div>
						</div>
					<!-- </div> -->
				</div>

				<div class="container__attribute" id="description">
					<div class="container__description-title">
						<img class="descriptionIcon" src="/images/description.svg">
						<h2 class="descriptionTitle">Description</h2>
					</div>
					<div class="container__description-contents">
						<p class="descriptionContents" id="descriptionContents"></p>
					</div>
				</div>

				<div class="container__attribute">
					<div class="container__description-title dropDownCursor" onclick="hideContents('location')">
						<img class="descriptionIcon" src="/images/location.svg">
						<h2 class="descriptionTitle">Location</h2>
						<img class="arrowDropDown" src="/images/arrowDropDown.svg">
					</div>
					<div class="container__description-contents dropDown" id="location">
						<div class="container__location">
								<p class="locationTrait">City: </p>
								<p class="" id="city"></p>
							</div>
							<div class="container__location">
								<p class="locationTrait">Country: </p>
								<p class="" id="country"></p>
							</div>
					</div>
				</div>

				<div class="container__attribute">
					<div class="container__description-title dropDownCursor" onclick="hideContents('website')">
						<img class="descriptionIcon" src="/images/website.svg">
						<h2 class="descriptionTitle">Website</h2>
						<img class="arrowDropDown" src="/images/arrowDropDown.svg">
					</div>
					<div class="container__description-contents dropDown" id="website">
						<a href="" target=”_blank” class="" id="SBTWebsite"></a>
					</div>
				</div>
			</div>
		</div>
	</div>



	<script type="text/javascript">

		let connectionText = document.getElementById("text__status").innerHTML;
		let statusLight = document.getElementById('container__statusLight').style.background;


		$("#container__tokenStatus").click(async function(event) {
			const accounts = await ethereum.request({ method: 'eth_requestAccounts' });
			const userWalletAddress = accounts[0];
			localStorage.setItem('userWalletAddress', userWalletAddress);
			await loadSBTData();	
			location.reload();
		});

		$(async function() { // execute once the DOM has loaded
			await loadSBTData()
		});


		async function loadSBTData() {
			var userWalletAddress = localStorage.getItem('userWalletAddress');

			console.log(userWalletAddress);

			if (userWalletAddress) {
				const textStatus = document.querySelector('.text__status');
				// textStatus.innerHTML = "Wallet: "+userWalletAddress;
				textStatus.innerHTML = "Wallet connected";
				connectionText = textStatus.innerHTML;
				document.getElementById('container__statusLight').style.background = "lightgreen";
				statusLight = "lightgreen"
			}


			let provider = new ethers.providers.Web3Provider(window.ethereum);
			let signer = provider.getSigner(userWalletAddress);

			let contractNetworkId = "<%= contractNetworkId %>"

			let contractAbi = '<%- contractAbi %>';
			let contractAddress = "<%= contractAddress %>";

			let contract = new ethers.Contract(contractAddress, contractAbi, signer);

			const tokenId = window.location.hash.substring(1);
			let tokenURI = await contract.tokenURI(tokenId);

			let request = new Request("https://ipfs.io/ipfs/"+tokenURI);
			let response = await fetch(request);
			let SBTData = await response.json();

			document.getElementById("imageSBT").src = SBTData.image;

			let name = document.getElementById('SBTName');
			name.innerHTML = SBTData.name;

			let type = document.getElementById('SBTType');
			type.innerHTML = SBTData.attributes[0].value;

			let description = document.getElementById('descriptionContents');
			description.innerHTML = SBTData.description;

			let city = document.getElementById('city');
			let country = document.getElementById('country');
			city.innerHTML = SBTData.attributes[1].value;
			country.innerHTML = SBTData.attributes[2].value;

			let startDate = document.getElementById('startDate');
			let endDate = document.getElementById('endDate');
			startDate.innerHTML = SBTData.attributes[3].value;
			endDate.innerHTML = SBTData.attributes[4].value;

			let website = document.getElementById('SBTWebsite');
			website.innerHTML = SBTData.attributes[5].value;

		}



		function hideContents(contentId) {
			document.getElementById(contentId).classList.toggle('show');
		}



		console.log(connectionText);
	    $( "#container__tokenStatus" ).hover(
		  function() {
		  	if (connectionText == "Wallet not connected") {
			    $(".text__status").text("Connect Wallet");
			    document.getElementById('container__statusLight').style.background="lightgreen";
		  	} else if (connectionText == "Wallet connected") {
		  		$(".text__status").text("Refresh wallet");
		  	}
		  }, function() {
		    $(".text__status").text(connectionText);
		    document.getElementById('container__statusLight').style.background=statusLight;
		  }
		);


	</script>

</body>






