<head>
	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
	<link rel="stylesheet" href="/stylesheets/viewSBT.css">
	<link rel="stylesheet" href="/stylesheets/connectWalletStyles/connectWalletButton.css">

	<script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js" type="application/javascript"></script>
	<script src="/javascript/viewSBT.js"></script>
	<script src="/javascript/walletButton.js"></script>
</head>

<body>
	<div class="container__body">
		<div class="container__connectWallet" id="container__connectWallet">
			<div class="container__statusLight" id="container__statusLight">
			</div>
			<p class="text__status" id="text__status">Wallet not connected</p>
		</div>
		<div class="container__mainContents">
			<div class="container__left">
				<div class="container__image">
					<img class="ethereumIcon" src="/images/ethereum.svg">
					<img class="imageSBT" id="imageSBT" src="">
				</div>
				<div class="container__dates">
					<div class="container__date">
						<h2 class="dateTitle">Start Date:</h2>
						<p class="dateContents" id="startDate"></p>
					</div>
					<div class="container__date">
						<h2 class="dateTitle">End Date:</h2>
						<p class="dateContents" id="endDate"></p>
					</div>
				</div>
			</div>
			<div class="container__right">
				<div class="container__sbtContentsMain">
					<h5 class="SBTOwner">Created By: <a>You</a></h5>
					<h1 class="SBTName" id="SBTName"></h1>
					<div class="container__SBTType">
						<h5 class="type">Type: </h5>
						<h5 class="SBTType" id="SBTType"></h5>
					</div>
					<div class="container__createButton" id="submitButton">
						<img class="sendIcon" src="/images/share.svg">
						<div class="container__createButtonBubble">
							<div class="pointer"></div>
							<h5>Share</h5>
						</div>
					</div>
				</div>

				<div class="container__attribute" id="description">
					<div class="container__description-title">
						<img class="descriptionIcon" src="/images/description.svg">
						<h2 class="descriptionTitle">Description</h2>
					</div>
					<div class="container__description-contents">
						<p class="descriptionContents" id="descriptionContents"></p>
					</div>
				</div>

				<div class="container__attribute">
					<div class="container__description-title dropDownCursor" onclick="hideContents('location')">
						<img class="descriptionIcon" src="/images/location.svg">
						<h2 class="descriptionTitle">Location</h2>
						<img class="arrowDropDown" src="/images/arrowDropDown.svg">
					</div>
					<div class="container__description-contents dropDown" id="location">
						<div class="container__location">
								<p class="locationTrait">City: </p>
								<p class="" id="city"></p>
							</div>
							<div class="container__location">
								<p class="locationTrait">Country: </p>
								<p class="" id="country"></p>
							</div>
					</div>
				</div>

				<div class="container__attribute">
					<div class="container__description-title dropDownCursor" onclick="hideContents('website')">
						<img class="descriptionIcon" src="/images/website.svg">
						<h2 class="descriptionTitle">Website</h2>
						<img class="arrowDropDown" src="/images/arrowDropDown.svg">
					</div>
					<div class="container__description-contents dropDown" id="website">
						<a href="" target=”_blank” class="" id="SBTWebsite"></a>
					</div>
				</div>
			</div>
		</div>
	</div>



	<script type="text/javascript">
		let connectionText, statusLight;


		$(async function() { // execute once the DOM has loaded
			const userWalletAddress = localStorage.getItem('userWalletAddress');

			if (userWalletAddress) {
				setWalletToConnected();
				await loadSBTData('<%- contractAbi %>','<%= contractAddress %>', userWalletAddress);
			} 
		});


		$("#container__connectWallet").click(async function(event) {
			const userWalletAddress = await setUserWallet();
			setWalletToConnected();
			await loadSBTData('<%- contractAbi %>','<%= contractAddress %>', userWalletAddress);
			location.reload();
		});


		// When the user hovers over container__connectWallet
		$("#container__connectWallet").hover(
		    // If the wallet is not connected, show "Connect Wallet" text and change the status light
		    function() {
		        entersWalletConnect(connectionText);
		    },
		    // When the user stops hovering over the container, show the original text and status light
		    function() {
		        leavesWalletConnect(connectionText, statusLight);
		    }
		);



	</script>

</body>






