<head>
	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
	<link rel="stylesheet" href="/stylesheets/createSBTStyles/createSBTBlockchain.css">

	<script type="text/javascript">
		function onLoad() {
			document.getElementById("page").style.display = "block";
            document.getElementById("loadingContainer").style.display = "none";
		}
	</script>
</head>

<body>
	<div class="container text-center">
		<h1><%= path %></h1>
	</div>
</body>






