<head>
	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
	<link rel="stylesheet" href="/stylesheets/logoStyles/logoLoadingAnimation.css">
	<link rel="stylesheet" href="/stylesheets/createSBTStyles/createSBT.css">
</head>

<body>
	<div class="container loadingContainer">
		<div class="container text-center">
			<%- include('../components/logoLoadingAnimation.ejs') %>
		</div>
	</div>

	<div class="container formContainer">
		<div class="row">
			<div class="col">
				<input class="SBTName" type="text" name="SBTName" placeholder="SBT Name" id="SBTName">
				<div class="dropdown">
					<button onclick="dropdownFunction()" class="btn-lg dropdown-toggle dropbtn">Type of SBT</button>
					<div id="myDropdown" class="dropdown-content">
						<a href="#home">Event / Attendance</a>
						<a href="#about">Certificate (Coming soon)</a>
						<a href="#contact">Ticket (Coming soon)</a>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="SBTPictureContainer">
					<label class="imageLabel" for="fileInput">
						<!-- <img class="SBTDisplayPicture" id="stockImage" src="/images/handWithPicture.png"> -->
						<img class="SBTDisplayPicture" id="stockImage" src="/images/handWithPicture.png">
						<img class="displayImage" src="#" id="displayImage">
					</label>

					<input id="fileInput" type="file" onchange="readURL(this);" name="image">
				</div>
			</div>
		</div>
		
		<div class="row textareaContainer">
			<label class="label"><u>Description:</u></label>
			<textarea class="SBTDescription" type="text" name="SBTDescription" placeholder="Enter a short description about what your SBT is for." id="SBTDescription"></textarea>
		</div>


		<div class="row">
			<div class="col inputContainer" style="margin-right: 1vw;">
				<label class="inputLabel">City (Optional):</label>
				<input class="input" type="text" name="" id="SBTCity"></input>
			</div>

			<div class="col inputContainer">
				<label class="inputLabel">Country (Optional):</label>
				<input class="input" type="text" name="" id="SBTCountry"></input>
			</div>
		</div>

		<div class="row">
			<div class="col inputContainer" style="margin-right: 1vw;">
				<label class="inputLabel">Start Date:</label>
				<input class="input" type="text" name="" id="SBTStartDate"></input>
			</div>

			<div class="col inputContainer">
				<label class="inputLabel">End Date (Optional):</label>
				<input class="input" type="text" name="" id="SBTEndDate"></input>
			</div>
		</div>

		<div class="row">
			<div class="col inputContainer">
				<label class="inputLabel">Website (Optional):</label>
				<input class="input" type="text" name="" id="SBTWebsite"></input>
			</div>
		</div>

		<div class="row">
			<button class="submitButton" onclick="formSubmit()">Create!</button>
		</div>

	</div>
</body>



<script type="text/javascript">
	var base64String = "";

	function readURL(input) {
		if (input.files && input.files[0]) {
			const file = input.files[0];
			var reader = new FileReader();


			reader.onload = function (e) {
				$('#displayImage').attr('src', e.target.result);
				$('#stockImage').hide();
				$('#displayImage').show();

				// console.log(e.target.result);
				// base64String = e.target.result;

				base64String = reader.result.split(',')[1];

			}

			reader.readAsDataURL(input.files[0]);
		}
	}



	/* When the user clicks on the button, 
	toggle between hiding and showing the dropdown content */
	function dropdownFunction() {
		document.getElementById("myDropdown").classList.toggle("show");
	}

	// Close the dropdown if the user clicks outside of it
	window.onclick = function(event) {
	  if (!event.target.matches('.dropbtn')) {
	  	var dropdowns = document.getElementsByClassName("dropdown-content");
	  	var i;
	  	for (i = 0; i < dropdowns.length; i++) {
	  		var openDropdown = dropdowns[i];
	  		if (openDropdown.classList.contains('show')) {
	  			openDropdown.classList.remove('show');
	  		}
	  	}
	  }
	}



	async function formSubmit() {
		const SBTName = document.getElementById('SBTName').value;
		const SBTPicture = base64String;
		const SBTDescription = document.getElementById('SBTDescription').value;
		const SBTCity = document.getElementById('SBTCity').value;
		const SBTCountry = document.getElementById('SBTCountry').value;
		const SBTStartDate = document.getElementById('SBTStartDate').value;
		const SBTEndDate = document.getElementById('SBTEndDate').value;
		const SBTWebsite = document.getElementById('SBTWebsite').value;

		
		try {
			const res = await fetch('createSBT', { 
			  	method: 'POST', 
			  	body: JSON.stringify({ SBTName, SBTPicture, SBTDescription, SBTCity, SBTCountry, SBTStartDate, SBTEndDate, SBTWebsite }),
			  	headers: {'Content-Type': 'application/json'}
			});

		} catch (err) {
			console.log(err);
		}

	}
</script>




