<head>
	<!-- External Scripts -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Stylesheets -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
	<link rel="stylesheet" href="/stylesheets/logoStyles/logoLoadingAnimation.css">
	<link rel="stylesheet" href="/stylesheets/createSBTStyles/createSBT.css">
</head>

<body>
	<div class="container loadingContainer">
		<div class="container text-center">
			<%- include('../components/logoLoadingAnimation.ejs') %>
		</div>
	</div>

	<div class="container formContainer">
		<div class="row SBTHeader">
			<div class="col">
				<input class="SBTName" type="text" name="SBTName" placeholder="SBT Name">
			</div>

			<div class="col">
				<div class="SBTPictureContainer">
					<label class="imageLabel" for="fileInput">
						<img class="SBTDisplayPicture" id="stockImage" src="/images/handWithPicture.png">
						<img class="displayImage" src="#" id="displayImage">
					</label>

					<input id="fileInput" type="file" onchange="readURL(this);" name="image">
				</div>
			</div>
		</div>
		
		<div class="row textareaContainer">
			<label class="label"><u>Description:</u></label>
			<textarea class="SBTDescription" type="text" name="SBTDescription"></textarea>
		</div>


		<div class="row">
			<div class="col inputContainer" style="margin-right: 1vw;">
				<label class="inputLabel">Date (Optional):</label>
				<input class="input" type="text" name=""></input>
			</div>

			<div class="col inputContainer">
				<label class="inputLabel">Time (Optional):</label>
				<input class="input" type="text" name=""></input>
			</div>
		</div>

	</div>
</body>



<script type="text/javascript">
	function readURL(input) {
		if (input.files && input.files[0]) {
			var reader = new FileReader();

			reader.onload = function (e) {
				$('#displayImage').attr('src', e.target.result);
				$('#stockImage').hide();
				$('#displayImage').show();
			}

			reader.readAsDataURL(input.files[0]);
		}
	}
</script>