

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
	<script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js" type="application/javascript"></script>

	<link rel="stylesheet" href="/stylesheets/homeStyles/home.css">
</head>



<body>
	<div class="container__body">
		<div class="landing__container">
			<div class="landing__panel">
				<div class="gradient gradient-purple"></div>
			 	<div class="gradient gradient-yellow"></div>
			 	<div class="gradient-yellowMiddle"></div>
			  	<div class="gradient gradient-orange"></div>
			 	<div class="gradient gradient-turquoise"></div>
			 	<div class="blur-layer"></div>
				<div class="text__panel">
					<h1>Soulbounder</h1>
					<h3>Your decentralised digital identity.</h3>
				</div>
			</div>
		</div>	

		<div class="about__container">
			<h1>About.</h1>
			<h3>Soulbounder is a provider of one time transfer tokens, known as Soulbound Tokens.</h3>


			<p>
				Soulbound Tokens or SBTs for short can come in a variety of forms.<br>
				Soulbounder focuses on the creation of Auth tokens, badges and tickets.
			</p>
		</div>
		<div class="authToken__container">
			<h1>Auth Tokens.</h1>
			<h3>Authenticates you whilst navigating Web3.</h3>
				<div class="authToken__container__panel1">
				<p class="authToken__description1">
					<span>1. </span>You can use this token to sign in to different websites that support Soulbounder authentication. It makes signing in super easy and convenient because you don't need to create new accounts, remember multiple passwords or keep having to renter the same information. Just create your auth token, and you're good to go!
				</p>
				<div class="fakeScreenContainer PersRight">
					<div class="redDot"></div>
					<div class="orangeDot"></div>
					<div class="greenDot"></div>
					<img src="/images/profileScreenshot.png" class="authToken__img">
				</div>
				
			</div>

			<div class="authToken__container__panel2">
				<div class="fakeScreenContainer PersLeft">
					<div class="redDot"></div>
					<div class="orangeDot"></div>
					<div class="greenDot"></div>
					<img src="/images/decrypt.gif" class="authToken__decryptGif">
				</div>
				<div class="authToken__description__panel">
					<p class="authToken__description2">
						<span>2. </span>All of your data is encrypted and stored decentrally using the Ethereum network, meaning you have total ownership and privacy of what's yours. You can then easily access and decrypt your data at the press of a button.
					</p>

					<button class="createAuthTokenButton" id="gettingStartedButton">Get Started</button>
				</div>
				
			</div>
		</div>
	</div>

	<footer>
		<div class="footer__container">
			<h3><a href="/profile">Profile</a></h3>
			<h3><a href="/createSBT">Create</a></h3>
			<h3>Docs</h3>
			<h3>Twitter</h3>
		</div>
	</footer>
	



	<script>
		document.getElementById("gettingStartedButton").addEventListener("click", function() {
   			window.location.href = "/createSBT";
	  	});

	  	$(window).on('scroll', function() {
		  var scrollTop = $(window).scrollTop();
		  var transformValue = scrollTop > 0 ? 'perspective(800px) rotateY(0)' : 'perspective(800px) rotateY(-20deg)';
		  $('.landing__panel').css('transform', transformValue);
		});



	</script>

</body>