

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
	<script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js" type="application/javascript"></script>

	<link rel="stylesheet" href="/stylesheets/homeStyles/home.css">
</head>



<body>
	<div class="container__body">
		<div class="container__home" id="container__home">
			<div class="container__background" id="container__background">
				<img class="spaceRip" id="" src="/images/spaceRip.svg">
				<img class="spaceRip2" id="" src="/images/spaceRip2.svg">
			</div>
			
			<div class="container__launchPad" id="container__launchPad">	
				<div class="container__polaroid" id="container__polaroid">
					<div class="pol__center pre">
						<div class="polaroid__background">
							<img class="polaroid__mainPicture pre" id="" src="/images/rocketLaunch2.svg">
						</div>
						<h1 class="connectText">Launch</h1>
					</div>
					<div class="pol__center post" id="connectButton">
						<div class="polaroid__background">
							<img class="launchPad__picture polaroid__metaMask post" id="" src="/images/metamask.svg">
						</div>
						<h1 class="connectText">Connect</h1>
					</div>

					<div class="pol__topLeft pol">
						<a class="polaroid__background about__background" href="#About">
							<img class="launchPad__picture polaroid__about" id="" src="/images/about.svg">
						</a>
						<h1 class="launchPad__text">About</h1>
					</div>

					<div class="pol__topRight pol">
						<div class="polaroid__background">
							<img class="polaroid__mainPicture" id="" src="/images/libraryBook.svg">
						</div>
						<h1 class="launchPad__text">Library</h1>
					</div>

					<div class="pol__bottomLeft pol">
						<a class="polaroid__background" href="/createSBT">
							<img class="polaroid__mainPicture" id="" src="/images/paintBrush.svg">
						</a>
						<h1 class="launchPad__text">Create</h1>
					</div>

					<div class="pol__bottomRight pol">
						<div class="polaroid__background">
							<img class="polaroid__mainPicture" id="" src="/images/rocketLaunch.svg">
						</div>
						<h1 class="launchPad__text">Something</h1>
					</div>
				</div>
			</div>	
		</div>

		<div class="container__focul">
			<div class="container__aboutPanel" id="">
				<div class="aboutLink" id="About"></div>
				<img class="spaceBackgroundImg" id="" src="/images/spaceBackground.svg">
				<img class="astronaut" id="" src="/images/astronaut.svg">
				<img class="spaceBitsTopImg" id="" src="/images/spaceBits.svg">
				<img class="spaceBitsImg" id="" src="/images/spaceBits.svg">
				<img class="spaceAlien spaceAlienImg" id="spaceAlienImg" src="/images/spaceAlienDummy.svg" onclick="ani()" >
				<img class="alienShipImg" src="/images/alienShip.svg">

				<div class="container__aboutDescription">
					<h1 class="aboutTitle">About</h1>
					<p class="aboutParagraph">Soulbounder launches your digital wallet to the next level. <br>By utilising Soulbound tokens, we can provide you with more freedom and accessibility in a Web3 era.</p>
					<p class="aboutParagraph">This hub gives you all the necessary tools to create, share and view a whole host of different types of Soulbound Tokens (SBTs).</p>
				</div>

				<div class="container__aboutDescription2">
					<div class="container__aboutBox">
						<img class="aboutBoxImg" src="/images/create3.svg">
						<h2 class="aboutSubtitle2">Create</h2>
					</div>
					<div class="container__aboutBox">
						<img class="aboutBoxImg" src="/images/share2.svg">
						<h2 class="aboutSubtitle2">Share</h2>
					</div>
					<div class="container__aboutBox">
						<img class="aboutBoxImg" src="/images/view2.svg">
						<h2 class="aboutSubtitle2">View</h2>
					</div>
				</div>

				<img class="spaceAlien spaceAlien2Img" src="/images/spaceAlien.svg">
				<img class="spaceAlien spaceAlien3Img" src="/images/spaceAlien3.svg">
				<img class="spaceAlien spaceAlien4Img" src="/images/spaceAlien4.svg">

			
				<div class="container__what container__what1">
					<h1 class="aboutSubtitle">What are SBTs?</h1>
					<p class="aboutParagraph">A Soul Bound Token, or an SBT is a one time transfer token. This allows you to associate a piece of data with a token and then transfer and store that token in yours or another user's wallet.</p>
				</div>
				<div class="container__what container__what2">
					<h1 class="aboutSubtitle">Why are SBTs important?</h1>
					<p class="aboutParagraph">SBT's give us the ability to carry valuable information within your digital wallets. This can come in many forms such as ID's, certificates and even login and account details that can be used across platforms.</p>
				</div>
				<div class="container__what container__what3">
					<h1 class="aboutSubtitle">How do SBTs work?</h1>
					<p class="aboutParagraph">SBT's use the Ethereum blockchain to store details about each token in a decentralised permissionless manner. This means you are in full control of your own data as you're not having to rely on us or another third party to store your data.</p>
				</div>

			</div>

			<div class="container__gettingStarted" id="container__gettingStarted">
				<img class="mars" id="" src="/images/mars.svg">
				<img class="jupiter" id="" src="/images/jupiter.svg">
				<img class="rocketShip" id="" src="/images/rocketShipBackground.svg">
				<img class="rocketShip" id="rocketShip" src="/images/rocketShip.svg">
				<img class="galaxy" src="/images/galaxy.svg">


				<div class="container__star" id="container__star">
					<div class="container__insideStar" id="container__insideStar">
						<div class="starTitle">
							<div class="starTitle__col1">
								<h1>Getting</h1>
							</div>
							<div class="starTitle__col2">
								<h1>Started.</h1>
							</div>
						</div>

						<div class="container__gettingStartedPanel">
							<div class="container__gettingStartedDetails">
								<div class="createAccount">
									<h2>Create an Account.</h2>
								</div>					
								<div class="gettingStarted1">
									<p>Accounts on Soulbounder work a bit differently. <br><br> When you create your account, you will be sent your very own SBT which will store all the necessary details, acting as your account. <br><br>This gives you total control of your own data, whilst  allowing your data to be portable across other platforms.</p>
								</div>
							</div>

<!-- 							<div class="container__gettingStartedDetails">
								<div class="gettingStarted2">

								</div>
								<div class="createCollection">
									<h2>Create a Collection.</h2>
								</div>					
							</div>

							<div class="container__gettingStartedDetails">
								<div class="createAccount">
									<h2>Browse the Library.</h2>
								</div>					
								<div class="gettingStarted1">

								</div>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



	<script>
		$(document).ready(function(){
			$('#container__launchPad').hover(function(){ 
		    	$('#container__background').hide(100);
			}, function(){
		        $('#container__background').show(100);
		    });
		});


		function ani() {
		  document.getElementById('spaceAlienImg').classList.add("vortexAnimation");
		}
	</script>




	<script type="text/javascript">
		// const showAccount = document.querySelector('.showAccount');

		$(function() // execute once the DOM has loaded
		{

			// wire up Add Item button click event
			$("#connectButton").click(async function(event) {
				event.preventDefault(); // cancel default behavior

				const accounts = await ethereum.request({ method: 'eth_requestAccounts' });
				const userWalletAddress = accounts[0];
				const provider = new ethers.providers.Web3Provider(window.ethereum);
				const signer = provider.getSigner(userWalletAddress);
				window.alert(userWalletAddress)
				// showAccount.innerHTML = userWalletAddress;

		  	});
		});
	</script>


	<script type="text/javascript">

		function expanding() {
			var scrollHeight = $(window).scrollTop();

		    var offsets = $('#container__gettingStarted').offset();
			var gettingStartedTop = offsets.top;

		    var windowWidth = $(window).width();
			var windowHeight = $(window).height();

			var containerStar = document.getElementById("container__star");
			var rocketShip = document.getElementById("rocketShip");
			var containerInsideStar = document.getElementById("container__insideStar");

			var width = (scrollHeight - (gettingStartedTop - windowHeight/2));

			rocketShip.style.top = -7 -(width/10) + "%";
			containerInsideStar.style.display = "block";

			// Keeps the star in the middle of the page even as it grows
			containerStar.style.left = 50 - ((width/3)/2) + '%';
			containerStar.style.top = 1190 - ((width)/2) +"%";

			containerStar.style.width = width/3 + "vw";
			containerStar.style.height = width/3 + "vw"; 

		}


		$(window).scroll(function (event) {
		    var scrollHeight = $(window).scrollTop();

		    var offsets = $('#container__gettingStarted').offset();
			var gettingStartedTop = offsets.top;

		    var windowWidth = $(window).width();
			var windowHeight = $(window).height();

			console.log(scrollHeight + " > (" + (gettingStartedTop - windowHeight/2) +"))" )
			var containerBottom = (gettingStartedTop + $('#container__gettingStarted').height())*0.7;
			console.log(containerBottom);


			// Starts the animation only when its in the middle of the page
		    if (scrollHeight > (gettingStartedTop - windowHeight/2) && scrollHeight < (containerBottom+(windowHeight/2))) {
			    requestAnimationFrame(expanding);
			    document.getElementById("container__home").style.display = "none";

		    } else if (scrollHeight < (gettingStartedTop - windowHeight/2)) {
		    	document.getElementById("container__home").style.display = "block";
		    	var containerStar = document.getElementById("container__star");
		    	containerStar.style.width = 0.25 + "%";
				containerStar.style.height = 1 + "%";
				containerStar.style.left = 50 + '%'; 
		    }
		});

	</script>

</body>