

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
	<script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js" type="application/javascript"></script>

	<link rel="stylesheet" href="/stylesheets/homeStyles/home.css">
</head>



<body>
	<div class="container__body">
		<div class="container__background" id="container__background">
			<img class="spaceRip" id="" src="/images/spaceRip.svg">
			<img class="spaceRip2" id="" src="/images/spaceRip2.svg">
		</div>
		
		<div class="container__launchPad" id="container__launchPad">	
			<div class="container__polaroid" id="container__polaroid">
				<div class="pol__center">
					<div class="polaroid__background pre">
						<img class="polaroid__mainPicture pre" id="" src="/images/rocketLaunch2.svg">
					</div>
					<div class="polaroid__background post">
						<img class="launchPad__picture polaroid__metaMask post" id="" src="/images/metamask.svg">
					</div>
					<h1 class="connectText pre">Launch</h1>
					<h1 class="connectText post">Connect</h1>
				</div>

				<div class="pol__topLeft">
					<div class="polaroid__background about__background">
						<img class="launchPad__picture polaroid__about" id="" src="/images/about.svg">
					</div>
					<h1 class="launchPad__text">About</h1>
				</div>

				<div class="pol__topRight">
					<div class="polaroid__background">
						<img class="polaroid__mainPicture" id="" src="/images/rocketLaunch.svg">
					</div>
					<h1 class="launchPad__text">Library</h1>
				</div>

				<div class="pol__bottomLeft">
					<div class="polaroid__background">
						<img class="polaroid__mainPicture" id="" src="/images/rocketLaunch.svg">
					</div>
					<h1 class="launchPad__text">Create</h1>
				</div>

				<div class="pol__bottomRight">
					<div class="polaroid__background">
						<img class="polaroid__mainPicture" id="" src="/images/rocketLaunch.svg">
					</div>
					<h1 class="launchPad__text">Launch Pad</h1>
				</div>
			</div>
		</div>	

		<div class="container__about">
			<div class="container__aboutPanel">
				<img class="spaceBackgroundImg" id="" src="/images/spaceBackground.svg">
				<img class="astronaut" id="" src="/images/astronaut.svg">
				<img class="spaceBitsTopImg" id="" src="/images/spaceBits.svg">
				<img class="spaceBitsImg" id="" src="/images/spaceBits.svg">

				<div class="container__aboutDescription">
					<h1 class="aboutText">About</h1>
					<p>Soulbounder takes your digital wallet to the next level. <br>Soulbound tokens provides you with more freedom and accessibility in a Web3 era.</p>
					<p>This platform gives you the tools to create, store and view a whole range of different types of SoulBound Tokens (SBTs).</p>
				</div>
			</div>
		</div>
	</div>
</body>



<script>
	$(document).ready(function(){
		$('#container__launchPad').hover(function(){ 
	    	$('#container__background').hide(100);
		}, function(){
	        $('#container__background').show(100);
	    });
	});
</script>
