<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/fonts/icomoon/style.css">

    <link rel="stylesheet" href="/stylesheets/headerStyles/owl.carousel.min.css">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/stylesheets/headerStyles/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="/stylesheets/headerStyles/headerStyles.css">
    <link rel="stylesheet" href="/stylesheets/logoStyles/logoShrinkAnimation.css">

    <title>SoulBounder</title>
  </head>
  <header>
  
    
    <aside class="sidebar">
      <div class="toggle">
        <a href="#" class="js-menu-toggle burgerImg shrinkTile" data-toggle="collapse" data-target="#main-navbar">
            <%- include('../components/logoShrinkAnimation.ejs') %>
        </a>
      </div>

      <div class="side-inner">

        <div class="logo">
          <img src="images/logos/SB purple+blue+gradient.svg" alt="Image" class="img-fluid">
        </div>

        
        <div class="nav-menu">
          <ul>
            <li class="active"><a href="/home"><span class="icon-home mr-3"></span>Home</a></li>
            <li><a href="/createSBT"><span class="icon-search2 mr-3"></span>Create SBT</a></li>
          </ul>
        </div>
      </div>
      
    </aside>

    
    

    <script src="/javascript/header/jquery-3.3.1.min.js"></script>
    <script src="/javascript/header/bootstrap.min.js"></script>
    <script src="/javascript/header/main.js"></script>

  </header>
</html>